.slide {
    width: 1400px;
    height: 900px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: center;  /* Zentriert horizontal */
    align-items: center;      /* Zentriert vertikal */
}

.slide-content {
    height: 100%;
    width: 100%;
    min-height: 80px;
    font-size: 32px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.slide-controls {
    margin-top: 20px;
}

.slide-footer {
    margin-top: 30px;
    font-size: 16px;
    color: #666;
}